
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# macOS system files
.DS_Store

# IDE/editor folders
.vscode/
.idea/

# Flask instance folder
instance/

# SQLite database
*.db
*.sqlite3

# Logs
*.log
